@charset "UTF-8";

/*doc
---
title: Brand
name: a-brand
category: Layout - Brand
---

```html_example
<a href="#" class="brand">
    <img src="img/uww-logo.png" alt="United World Wrestling Federation"/>
</a>
```
*/
